{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layout/partials/custom_head.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/academic/layout/partials/site_head.html`. */}}
<link rel="manifest" href="/manifest.json">
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="async">
</script>
<script>
  var OneSignal = window.OneSginal || [];
  OneSignal.push(["init", {
    appId: "e5af1833-4dde-4944-ba92-211d38d27038",
  }]);

</script>


<script data-ad-client="ca-pub-9449015270801223" async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9449015270801223",
    enable_page_level_ads: true
    });
    </script>

{{/*  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}akmalmuhamad</title> */}}
